<section class="section3" id="section3">
    <div class="contenedor-texto3">
        <p>UN PROBLEMA ES UNA OPORTUNIDAD PARA QUE HAGAS LO MEJOR QUE PUEDAS.</p>
        <br>
        <h2>Habilidades y Experiencia</h2>
        <br>
        <p>La principal área de especialización es el desarrollo front-end (lado del cliente de la web).</p>
        <br>
        <p>HTML, CSS, JS, creación de aplicaciones web pequeñas y medianas con Vue o React, complementos personalizados, funciones, animaciones y codificación de diseños interactivos. También tengo experiencia como desarrollador full-stack con uno de los CMS de código abierto más populares de la web: WordPress</p>
        <p>Visita mi <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="https://www.linkedin.com/in/indiana-granado-andrade-552412149/">Linkedin</a> para más detalles.</p>
    </div>
    <div class="iconos">
        <img  class="icono" src="../../../assets/img/javascript.logo.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.node.jpeg" alt="">
        <img  class="icono" src="../../../assets/img/icono.css.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.angular.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.TS.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.bootstrap.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.postman.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.mysql.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.html.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.aws.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.verse.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.git.2.png" alt="">
        <img  class="icono" src="../../../assets/img/icono.vsc.png" alt="">
    </div>
</section>