<section class="section4" id="section4">     
    <app-projects></app-projects>
</section>

















<!-- <section class="section4" id="section4">     
    <div class="section4a">
        <h1 style="font-weight: 800; font-size: 50px; line-height: 50px;">Portafolio y Proyectos
            <br>
            Anteriores</h1>
            <br>
            <br>
        <p style="line-height: 20px;">He construido varios proyectos diferentes para adaptarse a diferentes aspectos del negocio del cliente. Si quieres ver más ejemplos de mi trabajo que los que se muestran en este sitio,
            <br>¡ponte en <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="#section5">contacto conmigo!</a></p>
            <br>
            <br>
        <a style="color: #9c8b08; text-decoration: none; font-weight: 700" href="">Ver Proyectos ></a>
    </div>
<img class="esfera1" src="../../../assets/img/esfera.morada1.png" alt="">
<img class="esfera2" src="../../../assets/img/esfera.morada2.png" alt="">
<img class="esfera3" src="../../../assets/img/esfera.sin.color.png" alt="">
</section> -->