@font-face {
    font-family: "amsterdam four";
    src: url('../../../assets/fuentes/amsterdam-four-ttf.ttf');
}
.firma{
    color: white;
    font-family: "amsterdam four";
    font-size: 50px;
}

header {
width: 100vw;
height: 10rem;
display: flex;
justify-content: space-between;
align-items: center;
padding-inline: 5rem;
position: fixed;
top: 0;
background-color: transparent;
z-index: 10;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header-nav a{
display: block;
align-items: center;
padding: 8px 22px;
border: 2px solid #f0f8ff;
background-color: transparent;
border-radius: 6px;
font-weight: 600;
font-size: 15px;
color: #f0f8ff;
cursor: pointer;
transition: all 0.3s ease-in-out;
list-style: none;
z-index: 3;

}
.header-nav a:hover {
background-color: #f0f8ff; 
color: black; 
border-color: black;
}   
img{
    height: 3rem;
}
.barra-nav {
    /* border: 1px solid red; */
    width: 10vw;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
a{
    text-decoration: none; 
    color: white;
}
.barra-nav a.active {
    border-right:1px solid rgba(217, 208, 208, 0.68);
    background-color: transparent;
    color: white;
    transition: all 400ms ease;
}
.barra-nav a{
 padding: 20px;

}
.barra-nav a:hover,
.barra-nav a.active:hover {
    border-right: 4px solid white;
}

