header {
width: 100vw;
height: 5rem;
display: flex;
justify-content: space-between;
align-items: center;
padding-inline: 5rem;
position: fixed;
top: 0;
background-color: black;
z-index: 9;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-nav a{
display: block;
align-items: center;
padding: 8px 22px;
border: 2px solid #f0f8ff;
background-color: transparent;
border-radius: 6px;
font-weight: 600;
font-size: 15px;
color: #f0f8ff;
text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.header-nav a:hover {
background-color: #f0f8ff; 
color: black; 
border-color: black;
}   