<header>
    <div>
        <img src="../../../assets/img/marca.personal.indiana.png" alt="">
    </div>
    <ul class="header-nav">
        <li><a class="nav-link" (click)="navigateToSection('section5')">Contacto</a></li>
    </ul>
    <div class="barra-nav">
        <a class="active" (click)="navigateToSection('section1')">01</a>
        <a class="active" (click)="navigateToSection('section2')">02</a>
        <a class="active" (click)="navigateToSection('section3')">03</a>
        <a class="active" (click)="navigateToSection('section4')">04</a>
        <a class="active" (click)="navigateToSection('section5')">05</a>
    </div>
</header>
