

<div id="carouselExampleCaptions" class="carousel slide" style="height: 750px; width: 100vw;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 800px; width: 100vw;">
     
        <div class="carousel-item active" style="height: 800px; width: 100vw; display: flex; justify-content: center; align-items: center;">
            <div class="section4a">
                <h1 style="font-weight: 800; font-size: 50px; line-height: 50px;">Portafolio y Proyectos
                    <br>
                    Anteriores</h1>
                    <br>
                    <br>
                <p style="line-height: 20px;">He construido varios proyectos diferentes para adaptarse a diferentes aspectos del negocio del cliente. Si quieres ver más ejemplos de mi trabajo que los que se muestran en este sitio,
                    <br>¡ponte en <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="#section5">contacto conmigo!</a></p>
                    <br>
                    <br>
                <a style="color: #9c8b08; text-decoration: none; font-weight: 700" href="...">Ver Proyectos ></a>
            </div>
            <img class="esfera1" src="../../../assets/img/esfera.morada1.png" alt="">
            <img class="esfera2" src="../../../assets/img/esfera.morada2.png" alt="">
            <img class="esfera3" src="../../../assets/img/esfera.sin.color.png" alt="">
        </div> 


      <div class="carousel-item" style="height: 800px; width: 100vw;">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>


      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>

    </div>
   
   <!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button> -->
    <!-- <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>  -->
    
</div>
