<section class="section2" id="section2">
    <div class="contenedor-texto2">
        <h2>Hola, soy Indiana<br>
        Desarrolladora Web</h2>
        <br>
        <br>
        <p>Front End Developer / JavaScript Fan / Wordpress Expert</p>
    </div>
    <div class="contenedor-texto2">
        <p>Professionally connected with the web development industry.
        <br>
        <br>
        Problem solver, well-organised person, loyal employee with high attention to detail.
        <br>
        Fan of Boxing, outdoor activities, video games, and coding of course.
        <br>
        <br>
        Interested in the entire frontend spectrum and working on ambitious projects with 
        <br>interesting people.</p>
    </div>
    <img class="foto" style="opacity: 0.2;" src="../../../assets/img/foto3.jpg" alt="">
    <div class="cuadro1"></div>
    <div class="cuadro2"></div>
    <img class="rombo2" src="../../../assets/img/purple_romb2.png" alt="">
    <img class="cubo1" src="../../../assets/img/dark_cube2.1.png" alt="">
</section>
