<section class="section5" id="section5">
    <form>
        <input type="text" id="firstName" placeholder="Nombre">
        <input type="text" id="lastName" placeholder="Apellido">
        <input type="text" id="jobTitle" placeholder="Título del Trabajo">
        <input type="text" id="company" placeholder="Compañia">
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="phone" placeholder="Telefono">
        <input type="text" id="description" placeholder="¿Cuales son sus objetivos de contacto?">
    </form>
    <div class="contenedor-texto5">
        <h1 style="font-weight: 800; font-size: 50px; line-height: 50px;">contacto</h1>
            <br>
            <br>
        <p style="line-height: 20px;">He construido varios proyectos diferentes para adaptarse a diferentes aspectos del negocio del cliente. Si quieres ver más ejemplos de mi trabajo que los que se muestran en este sitio, ¡ponte en <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="">contacto conmigo!</a></p>
        <a style="color: #9c8b08; text-decoration: none; font-weight: 700" href="">Ver Proyectos</a>
    </div>
</section>