<section class="section5" id="section5">
    <form>
        <input type="text" id="firstName" placeholder="Nombre">
        <input type="text" id="lastName" placeholder="Apellido">
        <input type="text" id="jobTitle" placeholder="Título del Trabajo">
        <input type="text" id="company" placeholder="Compañia">
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="phone" placeholder="Telefono">
        <input class="descripcion" type="text" id="description" placeholder="Mensaje">
    </form>
    <div class="contenedor-texto5">
        <h3 style="font-size: 30px;">Con un desarrollador Full Stack disponible para colaborar, las posibilidades son infinitas.</h3>
        <br>
        <br>
        <p style="line-height: 20px;"> 
            ¿Listo para dar vida a tu próximo proyecto web o simplemente saludar?
            <br>
            <br>
            ¡Hablemos de tu visión y comencemos a construir algo increíble juntos!
        </p>
        <br>
        <br>
        <br>
        <a style="color: #18fffb; text-decoration: none; font-weight: 700; font-size: 40px;" href="">indianagranado@gmail.com</a>
    </div>
</section>