.inicio{
position: relative;
border: 1px solid #ff0000;
background-color: black;
overflow: hidden;
opacity: 0.92;
}
.fondo1{
position:absolute;
height: 12rem;
top: 18%;
right: 85%;
filter: blur(4px);
z-index: -1; 
}
.fondo2{
position:absolute;
height: 12rem;
top: 38%;
right: -10%;
filter: blur(4px);
z-index: 1; 
}
.fondo3{
position:absolute;
height: 12rem;
top: 58%;
right: 85%;
filter: blur(4px);
z-index: -1; 
}
.fondo4{
position:absolute;
height: 12rem;
top: 78%;
right: -10%;
filter: blur(4px);
z-index: -1; 
}
.rombo1{
position:absolute;
height: 14rem;
top: 15%;
right: 54%;
opacity: 0.3;
}
.cuadro1{
background-color: rgb(0, 0, 0);
position: absolute;
top: 28%;
left: 0%;
height: 12%;
width: 44%;
z-index: -1; 
}
.cuadro2{
background-color: rgb(0, 0, 0);
position: absolute;
top: 28%;
right: 0%;
height: 12%;
width: 44%;
z-index: -1; 
}
.foto{
position: absolute;
top: 24%;
right: 35%;
height: 12%;
width: 28%;
z-index: -2; 
}
.rombo2{
position:absolute;
height: 8rem;
top: 22.2%;
right: 31%;
}
.cubo1{
position:absolute;
height: 8rem;
top: 34%;
left: 20%;
opacity: 0.4; 
}
.section1{
/* border: 1px solid #ff00ea; */
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;
}
.textura{
position:absolute;
top: 7%;
right: 0%;
/* border: 1px solid red; */
height: 30vh;
width: 57vw;
background-image: url('../../../assets/img/textura.puntitos.png');
background-repeat: no-repeat;
background-size: 100% 100%;
z-index: -1; 
}
.contenedor-texto1{
/* border: 1px solid rgb(255, 0, 234); */
width: 35rem;
margin-left: 200px;

} 
.section2{
/* border: 1px solid #ff00ea; */
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;
}

