<div class="inicio">
    <img class="fondo1" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo2" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo3" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo4" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo5" src="../../../assets/img/detalles.colores.fin.png" alt="">
    <body>
        <section class="section1" id="section1"> 
            <div class="contenedor-texto1">
                <h2>Desarrolladora Web
                    Full-Stack</h2>
                <br>
                <br>
                <p>Resolver problemas de diseño, crear interfaces <br>
                de usuario inteligentes e interacciones útiles, desarrollar aplicaciones<br>
                web enriquecidas y experiencias web fluidas.</p>
                <br>
                <br>
                <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="#section2">About me > </a>
            </div>
            <img class="imagen1" src="../../../assets/img/computer.home.png" alt="">
            <img class="rombo1" src="../../../assets/img/purple_romb1.png" alt="">
            <div class="textura"></div>
        </section>
        <section class="section2" id="section2">
            <app-about></app-about>
        </section>
        <section class="section3" id="section3">
            <app-skills></app-skills>
        </section>
        <section class="section4" id="section4">
            <app-porfolio></app-porfolio>
        </section>
        <section class="section5" id="section5">
            <app-contact></app-contact>
        </section>
    </body>
</div>

