<div class="inicio">

    <img class="fondo1" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo2" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo3" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="fondo4" src="../../../assets/img/detalles.colores.png" alt="">
    <img class="rombo1" src="../../../assets/img/purple_romb1.png" alt="">
    <div class="textura"></div>
    <div class="cuadro1"></div>
    <div class="cuadro2"></div>
    <img class="rombo2" src="../../../assets/img/purple_romb2.png" alt="">
    <img class="cubo1" src="../../../assets/img/dark_cube2.1.png" alt="">
    
    <body>

        <section class="section1" id="section1"> 
           
            <div class="contenedor-texto1">
                <h2>Desarrolladora Web
                    Full-Stack</h2>
                <br>
                <br>
                <p>Resolver problemas de diseño, crear interfaces <br>
                de usuario inteligentes e interacciones útiles, desarrollar aplicaciones<br>
                web enriquecidas y experiencias web fluidas.</p>
                <br>
                <br>
                <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="#section2">About me > </a>
            </div>
            <img class="imagen1" src="../../../assets/img/computer.home.png" alt="">
        </section>

        <section class="section2" id="section2">
            <div class="contenedor-texto2">
                <h2>Hola, soy Indiana<br>
                Desarrolladora Web</h2>
                <br>
                <br>
                <p>Front End Developer / JavaScript Fan / <br>
                    Wordpress Expert</p>
                <!-- <a href="">Section 3</a> -->
            </div>
            <div class="contenedor-texto2">
                <p>Professionally connected with the web development industry.
                <br>
                <br>
                Problem solver, well-organised person, loyal employee with high attention to detail.
                <br>
                Fan of Boxing, outdoor activities, video games, and coding of course.
                <br>
                <br>
                Interested in the entire frontend spectrum and working on ambitious projects with 
                <br>interesting people.</p>
            </div>
            <img class="foto" style="opacity: 0.2;" src="../../../assets/img/foto3.jpg" alt="">
        </section>

        <section class="section3" id="section3">
            <app-skills></app-skills>
        </section>

        <section class="section4" id="section4">
            <app-porfolio></app-porfolio>
        </section>
      
        <section class="section5" id="section5">
            <div class="contenedor-texto5">
                <h1 style="font-weight: 800; font-size: 50px; line-height: 50px;">contacto</h1>
                    <br>
                    <br>
                <p style="line-height: 20px;">He construido varios proyectos diferentes para adaptarse a diferentes aspectos del negocio del cliente. Si quieres ver más ejemplos de mi trabajo que los que se muestran en este sitio, ¡ponte en <a style="color: #9c0890; text-decoration: none; font-weight: 700" href="">contacto conmigo!</a></p>
                <a style="color: #9c8b08; text-decoration: none; font-weight: 700" href="">Ver Proyectos</a>
            </div>
        </section>

      </body>
</div>

